.mini-con {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.conatiner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
